
<div class="site-header">
  <div class="site-nav">
    <a href="#" class="logo">Instinct AI</a>

    <div class="vr"></div>

    <div class="site-text">
      AI engine to analyze chat conversations, detecting user intent, answering
      queries automatically <br />
      and handling off-target conversations.
    </div>
  </div>

  <div class="actions">
    <div class="dropdown">
      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn btn-outline-secondary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Toggle dropdown
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>

    <div class="vr"></div>

    <div><i class="fa-regular fa-bell"></i></div>
    <div><i class="fa-solid fa-power-off"></i></div>
  </div>
</div>
